<div class="jumbotron">
  <div class="row">
    <div class="col-8">
      <h1 class="display-4 my-text">{{title}} <h6>From {{ nasaImgObj.date | date: "dd/MM/yyyy" }}</h6>
      </h1>
    </div>
    <div class="col-1" style="margin-top: 7px">
      <button mat-raised-button color="primary" (click)="goToday()">Today</button>
    </div>
    <mat-form-field class="col-3">
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="dateChange($event)"
        placeholder="Choose a Date" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  </div>
<div class="container" style="text-align: center">
  <div>
    <app-last-date (lastDateChange)="lastDateChange($event)"></app-last-date>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <img *ngIf=" nasaImgObj.media_type == 'image' " class="card-img-top" src="{{nasaImgObj.url}}">
      <iframe width="100%" height="500" [src]="sanetizeUrl(nasaImgObj.url)" class="card-top" frameborder="0"
        allowfullscreen *ngIf="nasaImgObj.media_type == 'video'"></iframe>
    </div>
    <div class="col-5">
      <h5 class="card-title">{{nasaImgObj.title}}</h5>
      <p class="card-text">{{nasaImgObj.explanation}}</p>
      <p class="card-text"><small class="text-muted">Created {{nasaImgObj.date | date: "dd/MM/yyyy"}}
          &copy;{{nasaImgObj.copyright}}</small>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid" style="height: 5px"></div>